
<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   

  <div class="field">
    <%= form.label :Doctor %>
 
     <%= form.collection_select :doctor_id, Doctor.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :Time_Slot %>
    <%= form.time_select :time_slot %>
  </div>

  <div class="field">
    <%= form.label :Book_On %>
    <%= form.date_select :appt_date %>
    <%= form.hidden_field :id, value: current_user.id%>
  </div>
   
    <% end %>

  <div class="field">
    <% if current_user %>
        User ID:<%= current_user.id %>
        User Name: <%= current_user.name %>
        
   
   <%= form.hidden_field :patient_id, value: current_user.id%>
   
  </div>

  

  <div class="actions">
    <%= form.submit :'Book now'%>
  </div>
<% end %>
